/* StAuth10244: I Darshil Gajera, 000867069 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:peachpuff;
  padding: 20px;
}


.active{
  color:white !important;
  font-size: 25px;
}

.pageMenu ul{
  padding: 20px;
  font-weight: bolder;
  background-color: burlywood;
  text-align: center;
}
.pageMenu li{
  display: inline-block;
  margin: 0px 20px;
}

.navlink{
  text-decoration: none;
  color: sienna;
}

.homeDiv{
  text-align: center;
}
.homeDiv h1{
  font-weight: bolder;
  color:sienna;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 10px;
}



.aboutDiv h1{
  color: saddlebrown;
}

.aboutDiv h3{
  color: saddlebrown;
}


.searchDiv{
  text-align: center;
}

.petsTable h2{
  text-align: center;
  color: sienna;
}


.petsTable Table{
  background-color: burlywood;
  
}

.petsTable TableCell{
  color: white;
}

.addPetFormDiv{
  text-align: center;
}

.addPetFormDiv h2{
  color: sienna;
}

.addPetFormDiv button{
  margin-top: 20px;
}

.editPetFormDiv{
  text-align: center;
}

.editPetFormDiv button{
  margin-top: 20px;
}

.editPetFormDiv h2{
  color: sienna;
}