/*
    Author: Darshil Gajera, 000867069
    Created On: June 29, 2022
    Assignment 4
    CSS stylesheet for index.html
*/

/*
    Applying Body background color
*/
body {
    background-color: steelblue !important;
    padding: 10px !important;
}

/*
    Header font color white and setting padding 10px
*/
header {
    color: white;
    padding: 10px;
}


/*
    Applying background color, shape, padding to input text field
*/

input {
    background-color: lightgreen;
    padding: 5px;
    border: none;
    text-align: center;
    border-radius: 20px;
}

/*
    Applying background color,shape, padding font color, font size to submit button
*/

#submit {
    padding: 5px;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

/*
    Applying color,font weight&size padding to user-info container
*/
.user-info {
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

/*
    Applying visibilit,font color to game container
*/

#game {
    visibility: hidden;
    color: white;
}

/*
    to set color for validation Error message
*/

#errormsg {
    color: red;
    font-weight: lighter;
}

/*
    to set color for validation Error message
*/

#errormsg2 {
    color: red;
    font-weight: lighter;
}

/*
    Applying font color,margin,padding,background-color,shape to choice buttons
*/

.choicebtn {
    margin: 0px 90px;
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
    background-color: lightgreen;
    border: none;
    border-radius: 20px;
}

/*
    Applying padding,font color, font size, border, background color to restart button    
*/

#reStart {
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
    background-color: lightgreen;
    border: none;
    border-radius: 20px;
}